<h1 style="text-align: center">BLog </h1>
<div class="container" style="text-align: center; background-color: #3300ff">
    <div class="row" ng-repeat="blog in new_data" style=";margin-top: 100px">
        <div class="col-lg-2" style="background-color: #00ffe1;">{{blog.title}}</div>
        <div class="col-lg-2" style="background-color: #19ff00">{{blog.author}}</div>
        <div class="col-lg-8" style="background-color: #faff00">{{blog.content}}</div>        
        <br><br>
    </div>

