<h1 style="text-align: center">team </h1>
<div class="container" style="text-align: center; background-color: #3300ff">
    <div class="row" ng-repeat="blog in new_data" style="margin-top: 100px">
        <div class="col-lg-2" style="background-color: #00ffe1;">{{blog.member_name}}</div>
        <div class="col-lg-2" style="background-color: #19ff00">{{blog.member_email}}</div>
        <div class="col-lg-2" style="background-color: #faff00">{{blog.member_position}}</div>
        <div class="col-lg-2" style="background-color: #fa5500">{{blog.member_post}}</div>        
        <div class="col-lg-2" style="background-color: #fa8500">{{blog.member_desc}}</div>        
     
        <br><br>
    </div>

