<!DOCTYPE html5>
<html lang="en">
  <head>
    <base href='/'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <title>aerodite.in</title>
    <!--tiny mice files-->    


    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.css">
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.js"></script>  
    <script src="assests/js/angular-trix.min.js"></script>
    
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>

    <!--angular files-->
    <script src="assets/js/angular.js"></script>
    <script src="assets/js/angular-animate.js"></script>
    <script src="assets/js/angular-route.js"></script>

    <!--angular routing and app-->
    <script src="app/app.js"></script>
    <script src="app/routes.js"></script>


    <!--Services-->
    <script src="app/services/mailServices.js"></script>
    <script src="app/services/authServices.js"></script>
    <script src="app/services/subsServices.js"></script>
    <script src="app/services/blogServices.js"></script>
    <script src="app/services/teamServices.js"></script>


    <!--controllers-->
    <script src="app/controllers/contactCtrl.js"></script>
    <script src="app/controllers/adminCtrl.js"></script>
    <script src="app/controllers/teamCtrl.js"></script>
    <script src="app/controllers/blogCtrl.js"></script>
    <script src="app/controllers/subsCtrl.js"></script>

     
    </head>

  <body ng-app="userApp">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">aadii</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/admin">admin</a></li>


            <li class="dropdown" ng-controller="admincontroller" ng-show="!isLoggedIn" ng-clock>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin-panel <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/logout" ng-click="logout();">Logout</a></li>
                <li><a href="/subs">subscribers</a></li>
                <li><a href="/team-edit">Team-edit</a></li>
                <li><a href="/blog-edit">Blog-edit</a></li>
               </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main" style="margin-top: 100px">


      <div ng-view></div>


    </div>
  </body>
</html>
