<div class="page-header">
	<h1 class="text-center">Blog edit</h1>
</div>

<form ng-submit="addBlog(newBlog)" > 
  <div class="row">
    <div class="col-lg-6">
        <label>title</label>
        <input class="form-control" type="text" name="title" placeholder="please enter title!." ng-model="newBlog.title">
        <br>
    </div>
    <div class="col-lg-6">
        <label>author</label>
        <input class="form-control" type="text" name="author" placeholder="please enter author!." ng-model="newBlog.author">
        <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-lg-offset-2">
        <label>content</label>
        <trix-editor angular-trix ng-model="foo" class="trix-content"></trix-editor>
        <textarea style="height: 100px" class="form-control editor" type="text" name="usernum" placeholder="please enter content!." ng-model="newBlog.content"></textarea>
    </div>
  </div>
  <br>
<br>
  <button class="btn btn-primary" style="margin-left: 40%" type="submit">Add to list</button>
</form>
<br><br>

<div class="jumbotron text-center" ng-show="loading">
		<span class="glyphicon glyphicon-repeat spinner"></span>
		<p> Loading ...</p>

</div>


<div class="row " ng-show='successMsg'>
	<div class="alert alert-success">  {{successMsg}} </div>
</div>
<br>
<div class="row"  ng-show='errorMsg'>
	<div class="alert alert-danger">  {{errorMsg}} </div>
</div>
