<div class="page-header">
	<h1 class="text-center">Admin Login</h1>
</div>

<form ng-submit="doLogin()" > 
  <label>Username</label>
  <input class="form-control" type="text" name="usernum" placeholder="please enter your username here!." ng-model="loginData.username">
  <br>
  <label>Password</label>
  <input class="form-control" type="password" name="password" placeholder="password please" ng-model="loginData.password">
<br>
<br>
  <button class="btn btn-primary" type="submit">Login</button>
</form>
<br><br>

<div class="jumbotron text-center" ng-show="loading">
		<span class="glyphicon glyphicon-repeat spinner"></span>
		<p> Loading ...</p>

</div>


<div class="row " ng-show='successMsg'>
	<div class="alert alert-success">  {{successMsg}} </div>
</div>
<br>
<div class="row"  ng-show='errorMsg'>
	<div class="alert alert-danger">  {{errorMsg}} </div>
</div>
