<div class="page-heder">
            <h1 class="text-center"> Team Edit page </h1>
</div>
<form ng-submit="addMember(newMember)"> 
    <label> Member name: </label>
    <input class="form-control" type="text" name="member_name" placeholder="member name" ng-model="newMember.member_name">  
    <br>

     <label> Member email: </label>
        <input class="form-control" type="text" name="member_email" placeholder="member email" ng-model="newMember.member_email">  
        <br>

     <label> Member position: </label>
        <input class="form-control" type="text" name="member_position" placeholder="member position" ng-model="newMember.member_position">  
        <br>

     <label> Member post: </label>
        <input class="form-control" type="text" name="member_post" placeholder="member post" ng-model="newMember.member_post">  
        <br>

     <label> Member desc: </label>
        <input class="form-control" type="text" name="member_desc" placeholder="member description" ng-model="newMember.member_desc">  
        <br>

      <button class="btn btn-primary" type="submit">Add member  </button>
</form>
<br><br>

<div class="jumbotron text-center" ng-show="loading">
		<span class="glyphicon glyphicon-repeat spinner"></span>
		<p> Loading ...</p>

</div>


<div class="row " ng-show='successMsg'>
	<div class="alert alert-success">  {{successMsg}} </div>
</div>
<br>
<div class="row"  ng-show='errorMsg'>
	<div class="alert alert-danger">  {{errorMsg}} </div>
</div>
